<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../dist/css/main.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="../../dist/js/main.js"></script>
</head>
<body>
	<h1 class="vivod"></h1>

	<button onclick="alert(this.innerHTML)">Нажми меня</button><br>
	<input id="elem" type="button" value="Нажми меня ..."/><br>
	<input id="elem2" class="elem3" type="button" value="Нажми меня2"/>

<script>
var a = document.getElementsByClassName("elem3")[0];
	console.log(a);
	a.addEventListener("click", function(){ 
		this.style.backgroundColor = 'red';
	 });

  function handler1() {
    alert('Спасибо!');
  };

  function handler2() {
    alert('Спасибо ещё раз!');
  }

  elem.onclick = function() { alert("Привет"); };
  elem.addEventListener("click", handler1); // Спасибо!
  elem.addEventListener("click", handler2); // Спасибо ещё раз!
  var a = [1,2,3,4,5]
var sum = a.reduce(function(x,y) { return x+y }, 0); // Сум ма зна че ний
var product = a.reduce(function(x,y) { return x*y }, 1); // Про из вед. зна че ний
var max = a.reduce(function(x,y) { return (x>y)?x:y; }); // Наи больш. зна че ние
console.log(sum +" "+product+" "+ max);

</script>
</body>
</html>